<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>毕业设计开题</title>
    <meta name="顾乡" content="毕设开题" />
    <link href="../static/css/impress.css" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="../static/js/x3dom.js"></script>
    <script src="../static/js/jquery-1.12.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

</head>
<body class="impress-not-supported">
	<div class="fallback-message">
	    <p>你的浏览器 <b>不支持</b> impress.js要求的配置所以只会以普通页面的方式展现</p>
	    <p>如果需要得到最佳的用户体验请使用最新版的<b>Chrome</b>, <b>Safari</b> 或 <b>Firefox</b> 浏览器</p>
	</div>
	<div id="impress">


		<div id="title" class="step" data-x="-5000" data-y="0" data-scale="6">
            <h1 style="text-align: center">新一代电子商务平台<br/>虚拟现实交互系统开发</h1><br/>
            <h2 style="text-align: center">本科生:顾乡</h2>
            <h2 style="text-align: center">指导老师:柴跃廷</h2>
            <h2 style="text-align: center">时间:3月15日</h2>
	    </div>



{#这里是研究意义和选题背景#}
        <div id="meaning" class="step" data-x="2000" data-y="-700" data-scale="4">
            <h1 style="text-align: center">选题背景及研究意义</h1>
        </div>
        <div class="step slide" data-x="1000" data-y="-5000">
            <div class="modal-header">
                选题背景及研究意义:中国电子商务
            </div>
            <div class="modal-body">
                <img src="../static/img/1.png" class="img-responsive">
            </div>
        </div>
        <div id="bg" class="step slide" data-x="2000" data-y="-5000">
            <div class="modal-header">
                选题背景及研究意义:国家政策
            </div>
            <div class="modal-body">
                <p style="font-size: 26px">（十四）<b class="bg1 text-danger">创新工业生产组织方式</b>。支持生产制造企业深化物联网、云计算、大数据、三维（3D）设计及打印等信息技术在生产制造各环节的应用，建立与客户电子商务系统对接的网络制造管理系统，<b class="bg2 text-danger">提高加工订单的响应速度及柔性制造能力</b>；面向网络消费者个性化需求，建立网络化经营管理模式，<b class="bg3 text-danger">发展“以销定产”及“个性化定制”生产方式</b>。（工业和信息化部、科技部、商务部）鼓励电子商务企业大力开展品牌经营，优化配置研发、设计、生产、物流等优势资源，满足网络消费者需求。（商务部、工商总局、质检总局）鼓励创意服务，探索建立生产性创新服务平台，面向初创企业及创意群体提供设计、测试、生产、融资、运营等创新创业服务。（工业和信息化部、科技部）——<a href="http://www.gov.cn/gongbao/content/2015/content_2864052.htm" target="_blank">《国务院关于大力发展电子商务加快培育经济新动力的意见》2015年5月</a></p>
            </div>
        </div>
        <div class="step slide" data-x="3000" data-y="-5000">
            <div class="modal-header">
                选题背景及研究意义:新电商三问
            </div>
            <div class="modal-body" style="font-size: 30px">
                1.什么是新一代电子商务平台?<br>
                实现生产与需求直接对接的,一种可以去掉中间环节的电子商务新模式<br><br>
                2.为什么需要新一代电子商务平台?<br>
                电子商务模式已经陷入瓶颈;可以改善传统生产行业现况;可以提供更方便的用户体验<br><br>
                3.怎么实现?<br>
                需要数据挖掘,现代物流,虚拟现实等技术,动态调整供应链,并提高人们的消费积极性
            </div>
        </div>





        <div id="now" class="step" data-x="2000" data-y="-350" data-scale="4">
            <h1 style="text-align: center">现状调研</h1>
        </div>
        <div class="step slide" data-x="5000" data-y="-6000" data-rotate-z="45">
            <div class="modal-header">
                现状调研:虚拟现实与电子商务
            </div>
            <div class="modal-body" style="font-size: 30px">
                <span class="label label-danger">优势</span>
                <li>基于Web3D的商品展示和游览,调用视觉感官</li>
                <li>相比于2D电子商务,增加了交互,更能够刺激消费者的消费积极性</li>
                <li>相比于2D电子商务,与实物的差异变小,增加了消费者的消费信心</li>
                <span class="label label-primary">现况</span>
                <li>失败案例:京东3D商城,购3</li>
                <li>成功案例:NikeID,Meial</li>
                <li>需求驱动供应,不能舍本逐末</li>

            </div>
        </div>
        <div class="step slide" data-x="5800" data-y="-5200" data-rotate-z="45">
            <div class="modal-header">
                现状调研:Web3
            </div>
            <div class="modal-body" style="font-size: 30px">
                <img src="/static/img/Web3D.png" width="120%" style="margin-top: 50px;margin-left: -75px">
            </div>
        </div>
        <div class="step slide" data-x="6600" data-y="-4400" data-rotate-z="45">
            <div class="modal-header">
                现状调研:WebGL
            </div>
            <div class="modal-body" style="font-size: 30px">
                <br>
                <div class="col-md-5" style="font-size: 30px">WebGL的工作流程如右图,WebGL的特点是:开源,跨平台,支持所有主流浏览器,利用GPU加速.</div>
                <img src="/static/img/3.png" class="col-md-7 img-responsive">
                <br>WebGL适合网页3D有几个原因:第一,WebGL可以调用GPU,第二,它是一个JavaScript的内嵌.下面是一些WebGL框架展示
            </div>
        </div>
        <div class="step slide" data-x="7400" data-y="-3600" data-rotate-z="45">
            <div class="modal-header">
                现状调研:源生WebGL
            </div>
            <div class="modal-body" style="font-size: 30px">
                <iframe src="../static/getwebglorg/index.html" width="700px" height="580px"></iframe>
            </div>
        </div>
        <div class="step slide" data-x="8000" data-y="-4200" data-rotate-z="45">
           <div class="modal-header">
                现状调研:复杂的源生WebGL
           </div>
            <div class="modal-body" style="font-size: 30px">
                <iframe src="../water" width="750px" height="500px"></iframe>
            </div>
        </div>
        <div class="step slide" data-x="7200" data-y="-5000" data-rotate-z="45">
             <div class="modal-header">
                现状调研:x3dom
            </div>
            <div class="modal-body" style="font-size: 30px">
                <x3d width='370px' height='300px'>
                    <scene>
                        <shape>
                            <appearance>
                                <material diffuseColor='1 0 0'></material>
                            </appearance>
                            <box></box>
                        </shape>
                    </scene>
                </x3d>
                <x3d width='370px' height='300px'>
                    <scene>
                        <viewpoint position="-1.94639 1.79771 -2.89271" orientation="0.03886 0.99185 0.12133 3.75685"></viewpoint>
                        <Inline nameSpaceName="Deer" mapDEFToID="true" onclick='redNose();' url="/static/Deer.x3d" />
                    </scene>
                </x3d>
                <pre>
                    &lt;x3d&gt;
                        &lt;scene&gt;
                            &lt;shape&gt;
                                &lt;appearance&gt;
                                    &lt;material diffuseColor='1 0 0'&gt;&lt;/material&gt;
                                &lt;/appearance&gt;
                            &lt;/shape&gt;
                        &lt;/scene&gt;
                    &lt;x3d&gt;
                </pre>
            </div>
        </div>
        <div class="step slide" data-x="6400" data-y="-5800" data-rotate-z="45">
             <div class="modal-header">
                现状调研:Three.js
            </div>
            <div class="modal-body" style="font-size: 30px">
                <iframe src="../skinning" width="750px" height="500px"></iframe>
            </div>
        </div>













        <div id="aim" class="step" data-x="2000" data-y="0" data-scale="4">
            <h1 style="text-align: center">毕业设计目标</h1>
        </div>
        <div class="step slide" data-x="7000" data-y="0">
            <div class="modal-header">
                    毕业设计目标
            </div>
            <div class="modal-body container-fluid">
                <li style="margin: 20px">新电子商务平台众多虚拟现实场景的构建</li>
                <li style="margin: 20px">新一代电商平台虚拟现实交互部分相关功能的实现</li>
                <li style="margin: 20px">新一代电子商务平台的后端管理及虚拟现实场景的数据驱动</li>
            </div>
        </div>









        <div id="plan" class="step" data-x="2000" data-y="350" data-scale="4">
            <h1 style="text-align: center">进度安排</h1>
        </div>
        <div class="step slide" data-x="5000" data-y="5000" data-rotate-z="-45">
            <div class="modal-header">
                进度安排
            </div>
            <div class="modal-body container-fluid">
                <table class="table table-striped " style="font-size: 26px;margin-top: 50px">
                    <thead>
                        <tr>
                            <th style="width: 150px">时间</th>
                            <th>进度</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>4周~5周</td>
                        <td>构建虚拟现实场景，初步搭建电子商务平台，明确数据库结构。</td>
                    </tr>
                    <tr>
                        <td>6周~9周</td>
                        <td>利用Web3D实现虚拟现实场景的浏览器呈现，明确交互方式与具体实现。并协同完善新电子商务平台前端展现。</td>
                    </tr>
                    <tr>
                        <td>10周~13周</td>
                        <td>完成虚拟现实的数据驱动，以及功能完善</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="step slide" data-x="6000" data-y="4000" data-rotate-z="-45">
            <div class="modal-header">
                    已完成进度
            </div>
            <div class="modal-body container-fluid">
                <span class="label label-danger">服务器端</span>
                <h2>
                    <li>基于Python的Django框架服务器搭建</li>
                    <li>Django与MySql数据库的对接</li>
                    <li>JSON数据的解析和数据库端的储存</li>
                </h2>
                <span class="label label-warning">3D建模</span>
                <h2>
                    <li>3ds Max建立3D模型基本方法</li>
                </h2>
                <span class="label label-primary">浏览器的3D显示</span>
                <h2>
                    <li>WebGL开发框架Three.js的学习,并进行了初步尝试</li>
                </h2>
            </div>
            <br>
            <div class="progress" style="width: 100%">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 15%;">
                </div>
            </div>
        </div>












        <div id="reference" class="step" data-x="2000" data-y="700" data-scale="4">
            <h1 style="text-align: center">参考文献</h1>
        </div>
        <div class="step slide" data-x="0" data-y="4000">
            <div class="modal-header">
                参考文献
            </div>
            <div class="modal-body" style="font-size: 22px;line-height: 1.5">
                <p>[1] 李晓东. 电子商务全球发展历程[J]. 人民论坛, 2000(5).</p>
                <p>[2] 李京文. 中国电子商务的发展现状与未来趋势[J]. 河北学刊, 2016(1).</p>
                <p>[3]柴跃廷. 我国电子商务发展方向及对策——2015中国(深圳)电子商务发展论坛柴跃廷演讲实录[J]. 港澳经济, 2015(16):53-57.</p>
                <p>[4] 宁静. 基于WebGL实物交互技术及其实现的研究[D]. 华中科技大学, 2014.</p>
                <p>[5] 蒋燕萍, 夏旺盛, 黄心渊. 几种Web3D技术的比较[J]. 北方工业大学学报, 2003, 15(1):21-25.</p>
                <p>[6] 罗立宏, 谭夏梅. 几种Web3D技术及比较[J]. 甘肃科技, 2007, 23(5):60-62.</p>
                <p>[7] 王朝晖. 虚拟现实在电子商务中的应用展望[J]. 计算机应用与软件, 2008, 25(3):149-151.</p>
                <p>[8] Suh K S, Lee Y E. The Effects of Virtual Reality on Consumer Learning: An Empirical Investigation.[J]. Mis Quarterly, 2005, 29(4):673-697.</p>
                <p>[9] X3D: THE REAL-TIME 3D SOLUTION FOR THE WORLD-WIDE WEB</p>
            </div>
        </div>
        <div class="step slide" data-x="1000" data-y="4000">
            <div class="modal-header">
                参考文献(来自网络)
            </div>
            <div class="modal-body" style="font-size: 22px;line-height: 1.5">
                <p><a href="http://www.gov.cn/gongbao/content/2015/content_2864052.htm" target="_blank">《国务院关于大力发展电子商务加快培育经济新动力的意见》</a></p>
                <p><a href="https://www.oculus.com/en-us/" target="_blank">Oculus</a></p>
                <p><a href="http://www.microsoft.com/microsoft-hololens/en-us" target="_blank">Hololens</a></p>
                <p><a href="http://www.nike.com/cn/zh_cn/c/nikeid" target="_blank">NikeID</a></p>
                <p><a href="http://metail.com/" target="_blank">Metial</a></p>
                <p><a href="http://mozvr.com/" target="_blank">MozVR</a></p>
                <p><a href="http://www.cycoresystems.com/" target="_blank">Cult3D</a></p>
                <p><a href="https://get.adobe.com/cn/flashplayer/" target="_blank">Flash Player</a></p>
                <p><a href="http://unity3d.com/" target="_blank">Unity3D</a></p>
                <p><a href="https://www.khronos.org/" target="_blank">Khronos</a></p>
                <p><a href="http://www.web3d.org/" target="_blank">Web3D Consortium</a></p>
            </div>
        </div>



        <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
    </div>
    <script>
    function redNose()
    {
        if(document.getElementById('Deer__MA_Nose').getAttribute('diffuseColor')!= '1 0 0')
            document.getElementById('Deer__MA_Nose').setAttribute('diffuseColor', '1 0 0');
        else
            document.getElementById('Deer__MA_Nose').setAttribute('diffuseColor', '0 0 0');
    }
</script>
    <script src="../static/js/impress.js"></script>
    <script>impress().init();</script>
</body>
</html>